.button {
  background: green;
  padding: 0.5rem;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 24px;
}

.container{
    height:100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background:black;
}
